# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# Json files
lib/**/*.json

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

#key firebase
src/serviceAccountKey.json